<header>
    <img src="/assets/img/logo.jpg" alt="Logo da Câmara" loading="eager" />
    <menu-position-example />
</header>

<aside>
    <div class="container">
        <img class="cabecalho" src="/assets/img/cabecalho.gif" alt="Imagem da fachada" loading="eager">
        <div class="text_header">
            <h1>Câmara Municipal de Brazópolis</h1>
            <p>Seja Bem-vindo</p>
            <a href="" target="" class="btn btn-secondary">Veja mais</a>
        </div>
    </div>

    <section>
        <figure>
            <img src="/assets/img/youtube.png" alt="Ícone para canal do youtube" width="100px" height="100px" />
            <figcaption>
                <a href="https://www.youtube.com/channel/UCvIXGcq_hf9io1HpZGOCOuA" target="_blank">
                    <strong>Youtube</strong>
                    <p>Acompanhe nosso canal no Youtube</p>
                </a>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/img/facebook.png" alt="Ícone para página do facebook" width="100px" height="100px" />
            <figcaption>
                <a href="https://www.facebook.com/CamaraMunicipaldeBrazopolis/" target="_blank">
                    <strong>Facebook</strong>
                    <p>Curta nossa pagina no Facebook</p>
                </a>
            </figcaption>
        </figure>
    </section>
</aside>