:host {
    &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 100px;
        margin-bottom: -100px;
        background-image: linear-gradient(var(--primary), var(--primary-008), var(--primary));
    }

    .container {
        background-color: var(--primary-009);

        img {
            width: 700px;
            padding: 20px;
            vertical-align: middle;
            opacity: 50%;
        }

        .text_header {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .btn-secondary {

            background-color: var(--secondary);
            border-radius: 60px;
            padding: 7px 18px;
            font-size: 14px;
            color: var(--white);
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            line-height: 1.5;
            box-sizing: border-box;
        }

        h1 {
            color: var(--dark);
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            height: 300px;
        }
    }

    section {
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 75px;
            width: 75px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        figcaption {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a,
        p {
            color: black;
            text-align: center;
        }

    }


    header {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            align-items: center;
            height: 50px;
        }
    }


    @media(max-width: 750px) {
        .container {
            width: 100%;
            padding: 0 20px;
        }

        .container {
            img {
                width: 100%;
            }
        }
    }
}